<div class="row report-title">
    <h1 id='report_title' class="text-center">%(title)s</h1>
</div>

<div id='header_parameters' class='row text-center report-parameters'>
    <div class="col-xs-6 col-md-4">
        %(parameters_1)s
    </div>
    <div class="col-xs-6 col-md-4">
        %(parameters_2)s
    </div>
    <div class="col-xs-6 col-md-4">
        %(parameters_3)s
    </div>
</div>

<div class='report-description'>
    <div id='report_description' class='row text-center'>%(description)s</div>
</div>
