<style type="text/css" media="screen">
    body {
        font-family: verdana, arial, helvetica, sans-serif;
        font-size: 80%;
    }

    table {
        font-size: 100%;
    }

    pre { }

    /* -- heading ------------------------------------------------------------- */

    h1 {
        font-size: 16pt;
        color: gray;
    }

    .heading {
        margin-top: 0ex;
        margin-bottom: 1ex;
    }

    .heading .attribute {
        margin-top: 1ex;
        margin-bottom: 0;
    }

    .heading .description {
        margin-top: 4ex;
        margin-bottom: 6ex;
    }

    /* -- css div popup ------------------------------------------------------- */

    a.popup_link {
    }

    a.popup_link:hover {
        color: red;
    }

    .popup_window {
        display: none;
        position: relative;
        width: 95%;
        height: 95%;
        margin: 10px 0 15px 0;
        /*border: solid #627173 1px; */
        padding: 4px;
        background-color: #CCC;
        font-family: "Lucida Console", "Courier New", Courier, monospace;
        text-align: left;
        font-size: 8pt;

        word-wrap: break-word;
    }

    /* -- report -------------------------------------------------------------- */

    #show_detail_line {
        margin-top: 3ex;
        margin-bottom: 1ex;
    }

    #result_table {
        width: 100%;
        border-collapse: collapse;
        border: 1px solid black;
    }

    #header_row {
        font-weight: bold;
        color: white;
        background-color: #777;
    }

    #result_table td {
        border: 1px solid black;
        border: 1px solid black;
        padding: 2px;
        width: auto;
    }

    #total_row {
        font-weight: bold;
        background-color: #777;
        color: white;
    }

    .passClass {
        background-color: #0F0;
        font-weight: bold;
    }

    .failClass {
        background-color: #F00;
        font-weight: bold;
    }

    .errorClass {
        background-color: #A20;
        font-weight: bold;
    }

    .skipClass {
        background-color: #FF0;
        font-weight: bold;
    }

    .passCase {
        color: #000;
    }

    .failCase {
        color: #000;
    }

    .errorCase {
        color: #000;
    }

    .skipCase {
        color: #000;
    }

    .hiddenRow {
        display: none;
    }

    .testcase {
        margin-left: 2em;
    }

    .close_button {
        text-align: right;
        color:red;
        cursor:pointer;
        font-weight: bold;
    }

    /* -- ending -------------------------------------------------------------- */

    #ending { }
</style>
